<%= link_to 'View Orders', controller: 'orders' %>
<br>
<a href="/orders/new">New Order</a>
<br>

<h1>Orders</h1>
<table class="table table-hover">
  <tr>
    <th>imei</th>
    <th>customer_email</th>
    <th>customer_name</th>
    <th>status</th>
    <th>external_id</th>
    <th>raw_result</th>
    <th>code</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.imei %></td>
      <td><%= order.customer_email %></td>
      <td><%= order.customer_name %></td>
      <td><%= order.status %></td>
      <td><%= order.external_id %></td>
      <td><%= order.raw_result %></td>
      <td><%= order.code %></td>
    </tr>
  <% end %>
